.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .weather-box {
    border: 1px solid #ccc;
    padding: 0px 5px 2px 5px;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    margin-left: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
    
  }
  
  .flex-container {
    display: flex;
    margin-top: 20px;
    justify-content: center; /* Adjust as needed */
  }
  
  .flex-item {
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .flex-container-forecast {
    display: flex;
    margin-top: 20px;
    justify-content: start; /* Adjust as needed */
    /* overflow-x: auto;  */
    overflow-y: scroll;
    overflow-block: auto;
    margin-left: 10px;
  }
  
  .weather-box-forecast {
    border: 1px solid #979696;
    padding: 0px 2px 2px 2px;
    border-radius: 5px;
    /* width: 500px;
    height: 300px; */
    margin-left: 5px;
    flex: 0 0 180px;
    
  }
  .centered-container-login {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    border: 1px solid #353434; /* Border style and color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the div horizontally */
    margin-top: 100px; /* Adjust the top margin for vertical centering */
  }
  
  .centered-container-signup {
    width: 500px; /* Adjust the width as needed */
    height: 650px; /* Adjust the height as needed */
    border: 1px solid #000; /* Border style and color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the div horizontally */
    margin-top: 100px; /* Adjust the top margin for vertical centering */
  }
  
  .input-box {
    width: 90%; /* Input box width as 80% of the container */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Includes padding and border in the width calculation */
  }
  
  .m-top{
    margin-top: 20px;
  }
  
  .m-bot{
    margin-bottom: 5px;
  }
  
  .centered-container-signup .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
  }
  
  .centered-container-signup .input-group input {
    flex: 1;
    margin-right: 5px; /* Adjust the spacing between the input fields */
  }
  
  .centered-container-signup .input-group input:last-child {
    margin-right: 0; /* Remove right margin for the last input field */
  }
  
  .margin-top{
    margin-top: 5px;
  }
  
  .input-box-login {
    width: 100%; /* Input box width as 80% of the container */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Includes padding and border in the width calculation */
  }
  
  .align-left {
    text-align: left;
  
  }